
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Exo+2:wght@300&family=Karla&family=Rubik&display=swap');


body{
    background: #ddeefc;
}
#container {
    
    width: 100%;
    max-width: 35em;
    min-height: 35em;
    margin: auto;
    margin-top: 1em;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 2px rgb(244, 240, 240);
    backdrop-filter: blur(5px);
    overflow: hidden;
 
}

#inputArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
   
    border-radius: 15px;
    margin-top: 2em;
}

#textInput{
    width: 80%;
    margin-top: 1em;
    height: 3em;
    border-color:rgb(85, 128, 222) ;
    border: 1.1px solid;
    border-color:rgb(85, 128, 222) ;
    border-radius: 5px;
    background-color: #e9edf0;
    padding-left: 15px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    


    
}
#textInput p {
    padding-left: 15px;
}

button{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 6em;
    height: 2em;
    background-color: rgb(85, 128, 222);
    border-radius: 5px;
    color: white;
    border: none;
    box-shadow: 1px rgb(55, 88, 160);
    cursor: pointer;
    font-size: 25px;
    padding: 0px;

}

button:hover{
transform: scale(1.1);
}
h1{
    margin: auto;
    text-align: center;
    margin-top: 1em;
    background-color: rgb(72, 128, 250);
    width: 100%;
    max-width: 15em;
    border-radius: 15px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    
}
input[type="text"] {
    border: 1px solid #000000; /* Varsayılan kenarlık kalınlığı ve rengi */
}

input[type="text"]:focus {
    border: 1px solid #000000; /* Odaklanıldığında kenarlık kalınlığı ve rengi */
    outline: none; /* Bazı tarayıcılar odaklanıldığında dış çerçeve ekler, bunu kaldırır */
}

#resultContainer{
    border: 1px solid ;
    min-height: 15em;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 20px;
    border-color:rgb(85, 128, 222) ;
    background-color: #e9edf0;
    

}


p{
    color: rgb(247, 36, 36);
    
}

h4 {
    color: chocolate;
    font-size: 20px;
    margin-bottom: -1px;
    font-size: 25px;
}